extends ../main.layout.pug

block variables
  - var title = 'Блог'

block content
  section.hero.hero--blog
    .hero__socials
      ul.socials
        each social in ['vk','github','in']
          li.socials__item
            a(href="#").socials__link
              +icon(social, 'socials__icon')
              
    +burger

    .hero__content
      .hero__user-desc
        .user
          .user__pic-container
            .user__pic
              +image('avatar.png','user avatar','user__pic-img')
          .user__info
            +title('Блог','blog_header')
            .user__desc Статьи которые я ещё не написал

    .hero__arrow-down
      a(href="#") 
        +icon('arrow_down', 'hero__arrow-pic')

    +triangle('triangles--blog')

  section.blog  
    aside.blog__menu
      ul.blog__menu-list
        li.blog__menu-item.blog__menu-item--active Самое важное в SASS
        li.blog__menu-item Приёмы в вёрстке, без которых не обходится ни один сайт
        li.blog__menu-item Самый необходимый набор Gulp плагинов
        li.blog__menu-item Почему я выбрал Jade

    .blog__content
      .blog__content-title
        h3.subtitle Самое важное в SASS
      .blog__content-date 22 ноября 2016
      .blog__content-text 
        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

block scripts
  script(src='./assets/scripts/blog.bundle.js')