extends ../auth.layout.pug

block content


  #welcome-page-component

  
  //- section.welcome#welcome-page
    .auth
      button.btn.auth__btn(@click="sideChange") Авторизоваться
      
    .welcome__panel(:class="side")
      .welcome__panel-user
        .user
          .user__pic-container
            .user__pic
              +image('avatar.png','user avatar','user__pic-img')
          .user__info
            .user__name Владимир Астахов
            .user__desc Личный сайт разработчика
        ul.socials
          each social in ['vk','github','in']
            li.socials__item
              a(href="#").socials__link
                +icon(social, 'socials__icon')
      .welcome__panel-buttons
        a.btn.route__btn(href="works.html") Мои работы
        a.btn.route__btn(href="about.html") Обо мне
        a.btn.route__btn(href="blog.html") Блог
      
      .welcome__auth
        .welcome__auth-title
          +subtitle('Авторизуйтесь')
        form.auth__form#auth__form
          label.auth__form-row
            input.auth__form-input(placeholder="Логин", name="login")
            .auth__form-logo
              +icon('login','auth__form-pic')
          label.auth__form-row
            input.auth__form-input(placeholder="Пароль", name="pass")
            .auth__form-logo
              +icon('password','auth__form-pic')
          label.auth-form__check-label
            input.auth-form__check(type="checkbox" value="imahuman" checked)
            .auth-form__check-block
              +icon('check', 'auth-form__check-svg')
            p Я человек
          .auth-form__quest Вы точно не робот?
          .auth__form-row.auth__form-row--margin-bottom
            label.auth-form__radio-label
              input.auth-form__radio(type="radio" name="human-check" checked value="yes")
              .auth-form__custom-radio
              | Да
            label.auth-form__radio-label
              input.auth-form__radio(type="radio" name="human-check" value="notSure")
              .auth-form__custom-radio
              | Не уверен
          .welcome__auth-buttons
            button.btn.route__btn.auth__back(@click="sideChange") На главную
            button.btn.route__btn.auth__submit(type="submit", @click="submit") Войти

        
          
    .welcome__desc
      p © Владимир Астахов | создано с любовью в LoftSchool | 2016  

  .parallax
    each source in [1,2,3,4,5,6,7,8]
      .parallax__layer
        img(src=`./assets/images/parallax/layer_${source}.png`, alt="").parallax__image