extends ../auth.layout.pug

block content

  section.welcome
    .auth
      button.btn.auth__btn Авторизоваться
      
    .welcome__panel
      .welcome__panel-user
        .user
          .user__pic-container
            .user__pic
              +image('avatar.png','user avatar','user__pic-img')
          .user__info
            .user__name Владимир Астахов
            .user__desc Личный сайт разработчика
        ul.socials
          each social in ['vk','github','in']
            li.socials__item
              a(href="#").socials__link
                +icon(social, 'socials__icon')
      .welcome__panel-buttons
        a.btn.route__btn(href="works.html") Мои работы
        a.btn.route__btn(href="about.html") Обо мне
        a.btn.route__btn(href="blog.html") Блог
          
    .welcome__desc
      p © Владимир Астахов | создано с любовью в LoftSchool | 2016


  .parallax
    each source in [1,2,3,4,5,6,7,8]
      .parallax__layer
        img(src=`./assets/images/parallax/layer_${source}.png`, alt="").parallax__image