extends ../main.layout.pug

block content

  section.hero 
    .hero__socials
      ul.socials
        each social in ['vk','github','in']
          li.socials__item
            a(href="#").socials__link
              +icon(social, 'socials__icon')
              
    +burger

    .hero__content
      +image('titles/portfolio_header.png', 'page title', 'title-img')
      .hero__user-desc
        .user
          .user__pic-container
            .user__pic
              +image('avatar.png','user avatar','user__pic-img')
          .user__info
            .user__name Владимир Астахов
            .user__desc Личный сайт разработчика

    .hero__arrow-down
      a(href="#") 
        +icon('arrow_down', 'hero__arrow-pic')

    +triangle('triangles--about')

    .hero__bg
      img(src="./assets/images/backgrounds/mountains.jpg", alt="", srcset="")

    //- .parallax-scroll
    //-   each source in [1,2,3,4,5,6,7,8]
    //-     .parallax-scroll__layer
    //-       img(src=`./assets/images/parallax/layer_${source}.png`, alt="").parallax-scroll__image
        

  section.para

block scripts
  script(src="file.js")
  