extends ../main.layout.pug

block variables
  - var title = 'Мои работы';

block content

block content
  section.hero 
    .hero__socials
      ul.socials
        each social in ['vk','github','in']
          li.socials__item
            a(href="#").socials__link
              +icon(social, 'socials__icon')
              
    +burger 

    .hero__content
      +image('titles/portfolio_header.png', 'page title', 'title-img')
      .hero__user-desc
        .user
          .user__pic-container
            .user__pic
              +image('avatar.png','user avatar','user__pic-img')
          .user__info
            .user__name Владимир Астахов
            .user__desc Личный сайт разработчика

    .hero__arrow-down
      a(href="#") 
        +icon('arrow_down', 'hero__arrow-pic')

    +triangle('triangles--works')

    .hero__bg
      img(src="./assets/images/backgrounds/mountains.jpg", alt="", srcset="")

  section.works 
    .works__title
      +title ('Мои работы', 'works_header')
    #slider-component 

    

    //- .works__content
    //-   .works__col.works__col--background-gray
    //-     .works__left-title
    //-       h3 сайт школы онлайн образоваиня
    //-     .works__left-desc
    //-       p HTML, CSS, JAVASCRIP
    //-     .works__left-button
    //-       a.btn.coral__btn
    //-         +icon('link','works__btn-pic')
    //-         |Посмотреть сайт
    //-   .works__col.works__col--background-beige
    //-     .works-slider
    //-       .slider__image
    //-         +image('works.png','works school','slider__pic')
    //-       .slider__controls
    //-         .slider__controls-left
    //-           +image('yoga.png','works yoga','slider-controls__pic')
    //-           a(href="#") 
    //-             +icon('arrow_down','arrow_down')
    //-         .slider__controls-right
    //-           +image('interiers.png','works yoga','slider-controls__pic')
    //-           a(href="#") 
    //-             +icon('arrow_down','arrow_up')

  section.comments
    .comments__bg
      img(src="./assets/images/backgrounds/water.jpg").comments__bg-pic
    .comments__title  
      +title ('Что обо мне говорят', 'about_header')
    .comments__content
        .comments__col
          .comments__text 
            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .comments__user 
            .comments__user-pic
              +image("dmitriy.jpg", "user photo", "user-photo")
            .comments__user-desc
              .comments__user-name Ковальчук Дмитрий
              .comments__user-proff основатель Loftschool
        .comments__col
              .comments__text 
                p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
              .comments__user 
                .comments__user-pic
                  +image("vladimir.jpg", "user photo", "user-photo")
                .comments__user-desc
                  .comments__user-name Сабанцев Владимир
                  .comments__user-proff преподаватель
        
    .comments__form 
      .comments__form-content
        .comments__form-blur
        .comments__form-title
          h3 связаться со мной
        form.feedback
          input.feedback__input(type="text", name="name", placeholder="Имя")
          input.feedback__input(type="text", name="email", placeholder="Email")
          textarea.feedback__input.feedback__input--textarea(name="message", placeholder="Ваше сообщение")
      .feedback__row
        input.btn.feedback__btn(type="submit", value="Отправить")
        input.btn.feedback__btn(type="button", value="Очистить")  
    
    .comments__arrow
      a(href="#") 
        +icon('arrow_down', 'arrow_up')

block scripts
  script(src='./assets/scripts/works.bundle.js')