extends ../main.layout.pug

block variables
  - var title = 'Мои работы';

block content

block content
  section.hero 
    .hero__socials
      ul.socials
        each social in ['vk','github','in']
          li.socials__item
            a(href="#").socials__link
              +icon(social, 'socials__icon')
              
    +burger 

    .hero__content
      +image('titles/portfolio_header.png', 'page title', 'title-img')
      .hero__user-desc
        .user
          .user__pic-container
            .user__pic
              +image('avatar.png','user avatar','user__pic-img')
          .user__info
            .user__name Артур Врублевский
            .user__desc Личный сайт разработчика

    .hero__arrow-down
      a(href="#").scroll-trigger 
        +icon('arrow_down', 'hero__arrow-pic')


    +triangle('triangles--works')

    .hero__bg
      img(src="./assets/images/backgrounds/mountains.jpg", alt="", srcset="")

  .slider-target

  section.works 
    .works__title 
      +title ('Мои работы', 'works_header')
    #slider-component 
  
  section.comments
    .comments__bg
      img(src="./assets/images/backgrounds/water.jpg").comments__bg-pic
    .comments__title  
      +title ('Что обо мне говорят', 'about_header')
    .comments__content
        .comments__col
          .comments__text 
            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .comments__user 
            .comments__user-pic
              +image("dmitriy.jpg", "user photo", "user-photo")
            .comments__user-desc
              .comments__user-name Ковальчук Дмитрий
              .comments__user-proff основатель Loftschool
        .comments__col
              .comments__text 
                p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
              .comments__user 
                .comments__user-pic
                  +image("vladimir.jpg", "user photo", "user-photo")
                .comments__user-desc
                  .comments__user-name Сабанцев Владимир
                  .comments__user-proff преподаватель
        
    .comments__form#feedback-form
      .comments__form-content
        .comments__form-blur
        .comments__form-title
          h3 связаться со мной
        form.feedback
          input.feedback__input(type="text", name="name", placeholder="Имя",v-model="name", @input="clearInput")
          transition(name="fade")
            .error.error--name(v-if="!nameVerify") {{ errorName }}
          input.feedback__input(type="text", name="email", placeholder="Email",v-model="mail", @input="clearInput")
          transition(name="fade")
            .error.error--mail(v-if="!mailVerify") {{ errorMail }}
          textarea.feedback__input.feedback__input--textarea(name="message", placeholder="Ваше сообщение",v-model="message", @input="clearInput")
      .feedback__row
        input.btn.feedback__btn(type="submit", value="Отправить", @click.prevent="submit")
        input.btn.feedback__btn(type="button", value="Очистить", @click.prevent="clearSubmit")  
      transition(name="fade")
        .modal-wrapper(v-if="!activateModal")
          .modal {{ modalText }}
            button.close-modal(@click="closeModal") X
    
    .comments__arrow
      a(href="#").scroll-target
        +icon('arrow_down', 'arrow_up')

block scripts
  script(src='./assets/scripts/works.bundle.js')