nav
    ul.menu
        li
            a(href="/index.html") главная
        li
            a(href="/about.html") обо мне
        li
            a(href="/works.html") мои работы
        li
            a(href="/blog.html") блог