@mixin laptop{
	@media (max-width: $laptop) {
		@content;
	}
}

@mixin tablets{
	@media (max-width: $tablets) {
		@content;
	}
}

@mixin phones{
	@media (max-width: $phones) {
		@content;
	}
}

@mixin small{
	@media (max-width: $small) {
		@content;
	}
}


body, html {
  height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include laptop {
    font-size: 15px;
  }
  @include tablets {
    font-size: 14px;
  }
  @include phones {
    font-size: 13px;
  }
}

.body-active-menu {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 95%;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  font-family: $bernier;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 63px;
  position: relative;
  padding: 0 40px;
  z-index: 2;
  @include phones {
    font-size: 40px;
  }
  &:before {
    content: "";
    width: 20px;
    height: 6px;
    position: absolute;
    left: 0;
    top: 42px;
    background: $text;
    opacity: .2;
    @include phones{
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &:after {
    content: "";
    width: 20px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 42px;
    background: $text;
    opacity: .2;
    @include phones{
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.title__background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  fill: $gray;
  z-index: 1;
  min-width: 100%;
  opacity: 0.4;
  @include phones {
    min-width: 80%;
  }
}

h3 {
  font-size: 35px;
  position: relative;
  padding: 0 40px;
  z-index: 2;
  @include phones {
    font-size: 21px;
  }
  &:before {
    content: "";
    width: 20px;
    height: 6px;
    position: absolute;
    left: 0;
    top: 22px;
    background: $text;
    opacity: .2;
    @include phones {
      top: 15px;
    }
  }
  &:after {
    content: "";
    width: 20px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 22px;
    background: $text;
    opacity: .2;
    @include phones {
      top: 15px;
    }
  }
}

h3.subtitle {
  padding: 0;
  &:before,&:after {
    display: none;
  }
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main__title {
  display: flex;
  justify-content: center;
  position: relative;
}

.main__subtitle {
  display: flex;
  justify-content: center;
}

.arrow_up {
    width: 26px;
    height: 16px;
    transform: rotate(180deg);
    fill: $gray-light;
}


.btn {
  display: inline-block;
  line-height: 45px;
  cursor: pointer;
  @include phones {
    line-height: 40px;
  }
  &.route__btn {
    padding: 0 32px;
    background: rgba($coral, .5);
    color: #fff;
    border-left: 1px solid rgba(#fff, .85);
    transition: background $transition;
    @include laptop {
      padding: 0 36px;
    }
    @include tablets {
      padding: 0 40px;
    }
    @include phones {
      padding: 0 24px;
    }
    &:first-child {
      border-left: 0;
    }
    &:hover,&:active,&:focus {
      background: rgba($coral-dark, .5);
      outline: none;
    }
  }
  &.auth__btn {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0 28px;
    color: #fff;
    transition: $transition;
    &:hover,&:active,&:focus {
      background: #fff;
      color: $coral;
      outline: none;
    }
  }
  &.coral__btn {
    background: $coral;
    border-radius: 5px;
    padding: 0 21px;
    display: flex;
    align-items: center;
    color: #fff;
    transition: $transition;
    &:hover,&:active,&:focus {
      background: $coral-dark;
      outline: none;
    }
  }
  &.feedback__btn{
    width: 50%;
    background: rgba($coral,.6);
    color: #fff;
    border: 0;
    border-left: 1px solid rgba(#fff, .85);
    transition: background $transition;
    &:first-child {
      border: 0;
    }
    &:hover,&:active,&:focus {
      background: rgba($coral-dark, .5);
      outline: none;
    }
  }
}

.hidden {
  visibility: hidden;
}