script(type="text/x-template")#welcome-page
  .wrapper.welcome__wrapper
    .welcome-page(@click="outOfForm")
      .welcome-page__header
        transition(name="fade")
          authBtn(
            @side-change="handleSideChange"
            :activeSide="activeSide"
            v-if="activeSide === 'sideA'"
            )
      .welcome-page__content
        transition(name="flip" mode="out-in")
          component(:is="activeSide" @side-change="handleSideChange")
      include ../../common/copyright
  
script(type="text/x-template")#auth-btn
  .auth-btn
    a(href="#" @click="$emit('side-change')").auth-btn__link Авторизоваться

script(type="text/x-template")#side-a
  .welcome-page__user
    include ../../common/user
    +socials('welcome-page__socials')
    nav.welcome-nav
      ul.welcome-nav__list
        each item in [["Мои работы", "my-works.html"], ["Обо мне", "about.html"], ["Блог", "blog.html"]]
          li.welcome-nav__item
            a(href=item[1]).welcome-nav__link= item[0]

script(type="text/x-template")#side-b
  .welcome-page__auth
    h2.block-subtitle.welcome-page__auth-title Авторизуйтесь
    form.auth-form(action="")
      label(class="auth-form__input-label" for="login")
        input(v-model="login" class="auth-form__input" id="login" type="text" placeholder="Логин")
        .auth-form__ico-wrap
          +icon("login", "auth-form__input-svg")
        transition(name="error")
          .error.auth-form__error(v-if="!validLogin")  {{ errorText }}      
      label(class="auth-form__input-label" for="password")
        input(v-model="pass" class="auth-form__input" id="password" type="password" placeholder="Пароль")
        .auth-form__ico-wrap
          +icon("password", "auth-form__input-svg")
        transition(name="error")
          .error.auth-form__error(v-if="!validPass") {{ errorText }}
      label(class="auth-form__check-label" for="human-check")
        input(class="auth-form__check" id="human-check" type="checkbox")
        .auth-form__check-block
          +icon('check', 'auth-form__check-svg')
        | Я человек
      .auth-form__quest Вы точно не робот?
      .auth-form__row
        label(class="auth-form__radio-label")
          input(class="auth-form__radio" id="human-yes" type="radio" name="human-check")
          .auth-form__custom-radio
          | Да
        label(class="auth-form__radio-label")
          input(class="auth-form__radio" id="human-not-sure" type="radio" name="human-check")
          .auth-form__custom-radio
          | Не уверен
      .auth-form__btn-row
        button(type = "button" @click="$emit('side-change')").auth-form__btn На главную
        button(@click.prevent="submit" type = "submit").auth-form__btn Войти
