.footer {
    background: rgba($graphite , 0.85);
    min-height: 150px;
    color: #FFF;
}

.footer__row {
    display: flex;
    align-items: center;
    @include tablets {
        flex-direction: column;
        text-align: center;
    }
    &:first-child {
        border-bottom: 1px solid #FFF;
    }
    padding: 20px;
}

.footer__col {
    width: 50%;
    @include tablets {
        width: 100%;
        margin-bottom: 10px;
    }
    &--justify-end {
        display: flex;
        justify-content: flex-end;
        @include tablets {
            justify-content: center;
        }
    }
}

.footer__text {
    opacity: .5;
    display: flex;
    align-items: center;
    @include tablets {
        justify-content: center;
    }
}

.menu__link {
    color: #FFF;
}