.hero__menu {
    z-index: 5;
}

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #FFF; }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #FFF;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }


   .hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--squeeze .hamburger-inner::before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
    .hamburger--squeeze .hamburger-inner::after {
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--squeeze.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
    .hamburger--squeeze.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


// .hamburger {
//     width: 30px;
//     height: 35px;
//     display: block;
//     position: relative;
// }

// .hamburger__planks {
//     position: absolute;
//     height: 5px;
//     top: 50%;
//     transform: translateY(-50%);
//     background: #FFF;
//     width: 100%;
//     border-radius: 10px;
//     &:before, &:after {
//         content: "";
//         display: block;
//         position: absolute;
//         width: 100%;
//         left: 0;
//         background: #FFF;
//         border-radius: 10px;
//         height: 5px;
//     }

//     &:before {
//         top: -10px;
//     }

//     &:after {
//         bottom: -10px;
//     }
// }


.overlay {
    opacity: 0;
    transition: $transition;
    text-align: center;
    .overleft {
        width: 0px;
        background: $coral;
        transition: $transition;
    }
    .overright {
        width: 0px;
        background: $coral;
        transition: $transition;
    }
    .overlay-menu {
        display: none;
    }
}

.overlay--open {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    .overleft {
        width: 50%;
        opacity: .8;
    }
    .overright {
        width: 50%;
        opacity: .8;
    }
    .overlay-menu {
        display: block;
    }
}

.overlay-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.overlay-menu__item {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    &:last-child {
        margin-bottom: 0;
    }
}

.overlay-menu--link {
    color: #FFF;
    font-size: 63px;
    font-family: $bernier;
    font-weight: normal;
    position: relative;
    padding:0 40px;
    @include phones {
        font-size: 35px;
    }
    &:before {
        content: "";
        width: 0px;
        height: 6px;
        position: absolute;
        left: 0;
        top: 40px;
        background: #FFF;
        transition: $transition;
      }
      &:after {
        content: "";
        width: 0px;
        height: 6px;
        position: absolute;
        right: 0;
        top: 40px;
        background: #FFF;
        transition: $transition;
      }
    &:hover {
        &::before,&::after {
            width: 30px;
        }
    }
}

