.socials {
    display: flex;
}

.socials__item {
    margin-right: 30px;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:last-child {
        margin-right: 0;
    }
}

.socials__link {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;
    .socials__icon {
        transition: $transition;
        opacity: .5;
        fill: $gray-light;
        height: 20px;
        width: 28px;
        &:hover {
            fill: #FFF;
            opacity: 1;
        }
    }
}

.socials--rounded {
    .socials__item {
        border: 1px solid #fff;
        border-radius: 100%;
        .socials__link {
           .socials__icon {
                height: 20px;
                width: 20px;
           } 
        }
    }
}
