.welcome {
    // background: url(../../assets/images/backgrounds/mountains.png) center center / cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 650px;
    z-index: 2;
    position: relative;
    @include laptop {
        min-height: initial;
    }
    @include tablets {
        justify-content: center;
        background: url(../../assets/images/backgrounds/mountains.png) center center / cover no-repeat;
    }
    @include phones {
        min-height: initial;
        padding: 10px;
        justify-content: space-between;
    }
}

.welcome__panel {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 1s ease-out;
    position: relative;
    &--sideA {
        .welcome__auth {
            display: none;
        }
        .welcome__auth-buttons {
            display: none;
        }
    }
    &--sideB {
        .welcome__auth {
            display: block;
        }
        .welcome__auth-buttons {
            display: flex;
        }
        .welcome__panel-user {
            display: none;
        }
        .welcome__panel-buttons {
            display: none;
        }
    }
    @include laptop {
    }
    @include tablets {
    }
    @include phones {
        margin: 30px 0;
        max-width: 310px;
    }
}

.none {
    display: none;
}

.welcome__panel-user {
    padding: 40px 0;
    background: rgba(#fff, .85);
    width: 100%;
    @include phones {
    }
    .user {
        color: $text;
    }
    .user__name {
        font-size: 28px;
        @include tablets {
            font-size: 20px;
        }
    }
    .socials {
        justify-content: center;
    }
    .socials__icon {
        fill: $coral;
        &:hover {
            fill: $coral-dark;
        }
    }
}

.welcome__desc {
    color: #fff;
    font-weight: 300;
    position: absolute;
    bottom: 3%;
    @include tablets {
    }
    @include phones {
        position: relative;
        bottom: 0;
        text-align: center;
    }
}

.welcome__panel-buttons {
    position: relative;
    bottom: -40px;
    width: 100%;
}

.auth {
    position: absolute;
    top: 3%;
    right: 6%;
    @include phones {
        position: relative;
        right: initial;
    }
}

.welcome__auth {
    padding: 33px 20px;
    background: rgba(#fff, .85);
    position: relative;
}

.auth__form {
    display: flex;
    flex-direction: column;
}

.welcome__auth-title {
    margin-bottom: 40px;
}

.welcome__auth-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    display: flex;
    .btn {
        display: block;
        width: 50%;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s linear;
}
  
.fade-enter, .fade-leave-to {
    opacity: 0;
}