.welcome {
    // background: url(../../assets/images/backgrounds/mountains.png) center center / cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 650px;
    z-index: 2;
    position: relative;
    @include tablets {
        justify-content: center;
        background: url(../../assets/images/backgrounds/mountains.png) center center / cover no-repeat;
    }
    @include phones {
        min-height: initial;
        padding: 10px;
        justify-content: space-between;
    }
}

.welcome__panel {
    border-radius: 8px;
    overflow: hidden;
    @include laptop {
    }
    @include tablets {
    }
    @include phones {
        margin: 30px 0;

    }
}

.welcome__panel-user {
    padding: 40px 66px;
    background: rgba(#fff, .85);
    @include phones {
        padding: 30px;
    }
    .user {
        color: $text;
    }
    .user__name {
        font-size: 28px;
        @include tablets {
            font-size: 20px;
        }
    }
    .socials {
        justify-content: center;
    }
    .socials__icon {
        fill: $coral;
        &:hover {
            fill: $coral-dark;
        }
    }
}

.welcome__desc {
    color: #fff;
    font-weight: 300;
    position: absolute;
    bottom: 3%;
    @include tablets {
    }
    @include phones {
        position: relative;
        bottom: 0;
        text-align: center;
    }
}

.auth {
    position: absolute;
    top: 3%;
    right: 6%;
    @include phones {
        position: relative;
        right: initial;
    }
}